<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title><!DOCTYPE html>
        <html lang="en" xmlns:th="http://thymeleaf.org/">
        <head>
            <meta charset="UTF-8">
            <title>Dodaj posta</title>
        </head>
<body>
    <div style="text-align: center;">
        <h1 th:if="${info != null}" th:text="${info}"></h1>
        <br/>
        <form style="width: 100%" th:action="@{/addpost}" method="post" th:object="${postForm}">
            Tytuł: <input maxlength="200" type="text" th:field="*{title}" placeholder="Tytuł">
            <br/>
            <textarea type="text" maxlength="500" rows="10" cols="50" th:field="*{message}" placeholder="Treść"></textarea>
            <br/><br/>
            <button type="submit">Dodaj post blogerze</button>
        </form>
    </div>


</body>
</html>
