<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Strona główna</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
 <div style="text-align: center;">

     <span th:each="category : ${categories}">
         <a th:href="'/category/' + ${category.getName()}" th:text="${category.getName()}"></a>
     </span>

    <div style="font-size: 20px" class="alert alert-success" th:each="content : ${posts}">
        <a th:onclick="'location.href=\'/post/' + ${content.getId()} + '\''">
                <strong th:text="${content.getTitle()}"></strong> |
                <small th:text="${content.getCreationTime()}"></small>
                <p><small th:text="${content.getCategory().getName()}"></small></p>

             <a th:href="'/rating/add/' + ${content.getId()}" >Lubię to :)</a> | <b th:text="${content.getRating()}"></b> |  <a th:href="'/rating/reduce/' + ${content.getId()}">Nie lubię :(</a>
        </a>

        <a th:if="${user.getUserType().toString() == 'ADMIN'}" th:href="'/delete/' + ${content.getId()}">X</a>
    </div>

    <br/>
    <button class="btn btn-primary" type="button" onclick="location.href='/addpost';" >Dodaj nowy post</button>
     <br/>

     <button class="btn btn-primary" type="button" onclick="location.href='/profile';" >Profil</button>
    <button class="btn btn-primary" type="button" onclick="location.href='/logout';" >Wyloguj</button>

     <br/>
     <strong th:text="'Jesteś: ' + ${user.getUserType()}"></strong>
 </div>
</body>
</html>