<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Logowanie</title>
</head>
<body>
<center>

    <h1 th:if="${info != null}" th:text="${info}"></h1>
    <br/>

    <form th:action="@{/login}" method="post">
        Login: <input type="text" th:name="login" placeholder="Login">
        <br/>
        Hasło: <input type="text" th:name="password" placeholder="Hasło">
        <br/>
        <button type="submit">Zaloguj</button>
        <button type="button" onclick="location.href='/register';" >Rejestracja</button>
    </form>
</center>
</body>
</html>