<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Rejestracja</title>
</head>
<body>

    <center>
    <h1 th:if="${info != null}" th:text="${info}"></h1>

    <form th:action="@{/register}" method="post" th:object="${registerForm}">
        Login: <input type="text" th:field="*{login}"/> <br/>
        Hasło: <input type="text" th:field="*{password}"/> <br/>
        Powtórz: <input type="text" th:field="*{passwordRepeat}"/> <br/>
        Wiek: <input type="number" th:field="*{age}"/> <br/>
        <input type="submit" value="Zaloguj"/>
    </form>
    </center>
</body>
</html>